/* 
	wiki.css
*/

body {
	font-family:gulim;
	font-size: 9pt;
	line-height: 160%;
	text-align:justify;
/*	scrollbar-face-color: white; */
/*	scrollbar-face-color: #ffffe0; */
	scrollbar-face-color: #f0f0f0;
	scrollbar-shadow-color: #d0d0d0;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #e0e0e0;
	scrollbar-darkshadow-color: #d0d0d0;
	scrollbar-track-color: #ffffff;
/*	scrollbar-track-color: lightyellow; */
	scrollbar-arrow-color: black;
/*	background: #ffffe0; */
	background: #fefefe;
}

em {
	font-size: 105%;
}

/* pre {
	font-family: dotumche;
	font-size: 9pt;
	line-height: 160%;
	text-align:justify;
} */

pre {
	font-family: Lucida Console,Courier New,Courier,monotype;
	font-family: dotumche, Courier, monotype;
	font-size: 9pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
	white-space:pre;
	padding:5px;
	line-height: 160%;
	text-align:justify;
	width:90%;
}

pre.code   {
	font-family: Lucida Console,Courier New,Courier,monotype;
	font-family: dotumche, Courier, monotype;
	font-size: 9pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
	background-color: #fffffa;
/*	background-color: lightyellow; */
	white-space:pre;
	border-style:solid;
	border-width:1pt;
	border-color:#d0d0d0;
	color:#111111;
	padding:5px;
	line-height: 160%;
	text-align:justify;
	width:90%;
}

pre.syntax {
	font-family: Lucida Console,Courier New,Courier,monotype;
	font-family: dotumche, Courier, monotype;
	font-size: 9pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
	background-color: #fffffa;
/*	background-color: lightyellow; */
	white-space:pre;
	border-style:solid;
	border-width:1pt;
	border-color:#d0d0d0;
	color:#111111;
	padding:5px;
	line-height: 160%;
	text-align:justify;
	width:90%;
}



code {
	font-family: Lucida Console,Courier New,Courier,monotype;
	font-family: dotumche, Courier, monotype;
	font-size: 9pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
	white-space:pre;
}

tr { line-height: 20px; }

li { 
	font-family:gulim; 
	line-height: 160%; 
	text-align:justify; 
	margin-top:1pt; 
	margin-bottom:2pt; 
}
A:link, A:active, A:visited { font-family: gulim; color: blue; text-decoration: none; }
/* A:hover { color: #ffffff; background-color: black; text-decoration: none; } */
A:hover { text-decoration: underline; }

SELECT,TEXTAREA { font-family: dotumche; font-size: 10pt; line-height: 140%; border:1 solid BLACK; background-color:WHITE; color:BLACK;}

INPUT.text {
	border:1 solid BLACK;
	background-color:WHITE;
	color:BLACK;
	padding: 0px;
	margin-top: 0pt;
	margin-bottom: 0pt;
	height: 12pt;
}

hr { border: 1px solid darkred; }

h1,h2,h3,h4,h5 {
	font-family: Arial, Helvetica,sans-serif;
	padding: 4px;
	margin-top: 10pt;
	margin-bottom: 8pt;
	width: 100%;
	color: #000000;
}

h1 {
	font-size: 16pt;
	padding-left: 3pt;
}

h2 {
	font-size: 14pt;
	padding-left:6pt;
	background: #e6e6fa;
	border: solid 1px #d0d0d0;
}

h3 {
	font-size: 13pt;
	padding-left:9pt;
	background: #f0f0f0;
	border: solid 1px #d0d0d0;
}

h4 {
	font-size: 12pt;
	padding-left:12pt;
	background: #ccffff;
	border: solid 1px #d0d0d0;
}

h5 {
	font-size: 11pt;
	padding-left:15pt;
	background: #ddffff;
	border: solid 1px #d0d0d0;
}

h6 {
	font-size: 10pt;
}


table {
	border: solid 1px #d0d0d0; 
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 1px;
	padding: 5px;
	spacing: 0px;
}

table.normal {
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 1px;
}

td {
	font-size: 9pt;
	line-height: 160%;
	border-style: groove;
	border: solid 1px #d0d0d0;
	border-top-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width: 0px;
	padding: 2px;
	spacing: 0px;
}

th {
	font-size: 9pt;
	line-height: 160%;
	border-style: groove;
	border: solid 1px #d0d0d0;
	border-top-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width: 0px;
	padding: 2px;
	spacing: 0px;
}

img {
	border: solid 0px #fffff0;
}
